data/

# virtual environment
env

#django
*.log
*db.sqlite3

#local settings
basil/settings/local.py

#django-environ
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#vscode
.vscode

#vagrant
.vagrant